<div class="example-container">
 <mat-dialog-content>Apakah Anda Yakin Hapus File</mat-dialog-content>
 <mat-dialog-actions>
 	<button mat-button mat-dialog-close (click)="oke()" color="primary" class="okeButton"><mat-icon aria-hidden="false" aria-label="Example check icon">check</mat-icon></button>
 	<button mat-button><mat-icon aria-hidden="false"></mat-icon></button>
 	<button mat-button mat-dialog-close (click)="cancel()" color="primary" class="cancelButton"><mat-icon aria-hidden="false" aria-label="Example cancel icon">cancel</mat-icon></button>
 </mat-dialog-actions>
</div>