<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Unit Kerja" >
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Nama" #nama></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="NIP"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Jabatan"></textarea>
  </mat-form-field>


    <mat-list>
      <h3>I.ASPEK TEKNIS PEKERJAAN</h3>

      <p class="textopsi"> 1.Kualitas kerja,kemampuan,efektifitas,ketelitian,keterampilan dan kebersihan dalam menyelesaikan tugas sesuai protap</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>

      <mat-divider></mat-divider>
       <p class="textopsi"> 2.Kuantitas kerja,seberapa tepat dan cepat menyelesaikan tugas</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 3.kemampuan mencapai target kerja sesuai standar rumah sakit</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi">4.Tidak melakukan kelalaian yang menyebabkan terjadinya IKP Inside Keselamatan Pasien (KTC,KNC,KPC,KTD,Sentinel)</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

       <p class="textopsi">5.Pemahaman dan Implementasi tentang materi pembekalan/Orientasi pegawai</p>
       <p class="textopsi">a.Tupoksi</p>
       <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

       <p class="textopsi">b.PPI</p>
       <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

       <p class="textopsi">c.K3RS</p>
       <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

       <p class="textopsi">d.PMKP</p>
       <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

       <p class="textopsi">e.BHD</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

      <h3>II.ASPEK NON TEKNIS</h3>

      <p class="textopsi"> 1.Tertib Administrasi</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>

      <mat-divider></mat-divider>
       <p class="textopsi"> 2.Inisiatif : kesediaan memberikan ide-ide yang bermanfaat bagi peningkatan kerja dan pemecahan masalah dengan idenya sendiri</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 3.Kerjasama dengan atasan,rekan kerja dan bawahan</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

    <h3>III.ASPEK KEPRIBADIAN</h3>

      <p class="textopsi"> 1.Sikap : Berperilaku dan ber penampilan sopan</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>

      <mat-divider></mat-divider>
       <p class="textopsi"> 2.Kehadiran dan disiplin kerja : tingkat absensi , kehadiran tepat wawktu , serta disiplin dalam penggunaaan waktu</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 3.Tanggung jawab dan loyalitas : Kesediaan melaksanakan kewajiban secara tuntas</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 4.Ketaatan terhadap instruksi kerja atasan</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 5.Komunikasi : kemampuan untuk berinteraksi dan mengungkapkan ide secara verbal maupun dalam pertemuan</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>

      <h3>IV.ASPEK NON TEKNIS</h3>

      <p class="textopsi"> 1.Fungsi sebagai Komando : mampu memberikan usulan,koordinasi,perencanaan,pengawasan dan evaluasi anggota tim kerja</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>

      <mat-divider></mat-divider>
       <p class="textopsi"> 2.Fungsi sebagai Guru : mampu memberikan keteladananan , mendidik , meredam masalah dan bisa memberikan bimbingan</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 3.Fungsi sebagai Ibu : menciptakan keharmonisan ,kekeluargaan,menerima keluhan,mengayomi dan motivasi</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
    </mat-list>
     <br>
     <div class="example-button-row">
        <button mat-raised-button (click)="tambah_data(nama.value)" color="primary" class="ButtonAction">Submit</button>
      </div>

    
</div>