<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Unit Kerja">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Nama"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="NIP"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Jabatan"></textarea>
  </mat-form-field>


    <mat-list>
      <h3>ASPEK TEKNIS PEKERJAAN</h3>

      <p class="textopsi"> 1.Kualitas kerja,kemampuan,efektifitas,ketelitian,keterampilan dan kebersihan dalam menyelesaikan tugas sesuai protap</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>

      <mat-divider></mat-divider>
       <p class="textopsi"> 1.Kualitas kerja,kemampuan,efektifitas,ketelitian,keterampilan dan kebersihan dalam menyelesaikan tugas sesuai protap</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 2.Kualitas kerja,kemampuan,efektifitas,ketelitian,keterampilan dan kebersihan dalam menyelesaikan tugas sesuai protap</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
       <p class="textopsi"> 3.Kualitas kerja,kemampuan,efektifitas,ketelitian,keterampilan dan kebersihan dalam menyelesaikan tugas sesuai protap</p>
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="1" class="opsi"> 1 </mat-radio-button>
        <mat-radio-button value="2" class="opsi"> 2 </mat-radio-button>
        <mat-radio-button value="3" class="opsi"> 3 </mat-radio-button>
        <mat-radio-button value="4" class="opsi"> 4 </mat-radio-button>
        <mat-radio-button value="5" class="opsi"> 5 </mat-radio-button>
      </mat-radio-group>
    </mat-list>
    

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea Add"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option2</mat-option>
      <mat-option value="option">Option3</mat-option>
    </mat-select>
  </mat-form-field>
</div>