table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1px 1px;
    text-align: left;
  }

  .KATEGORI{
      text-align: left;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 600px;
    width: 100%;
  }

  .center{
    text-align: center;
  }

  .tabspace{
    padding-left: 33px;
  }

  .tanggalspan{
    text-align: right;
  }